@require 'bower_components/bootstrap-stylus/stylus/bootstrap'

.container
  margin-top: 50px
  margin-bottom: 50px

.channels
  position: fixed
  list-style-type: none

.messages
  list-style-type: none
